body
{
	margin: 0px;

}
#login
{
	width:283px;
	height:267px;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-width: 1px; 
	position: absolute;
	left:915px;
	top:276px;
	border-radius:5px;
	border-color: #666666;
}

#login hr
{
	display: inline-block;
	position: relative;
	width: 120px;
	top:-23px;
	color:#666666;
}

#login .title 
{
	display: inline-block;
	width:39px;
	text-align: center;
	position: relative;
	top:-23px;

}

#login input[type="text"]
{
	width:200px;
	height: 24px;
	border:1px solid;
	border-color: #A1A1A1;
	color:#A1A1A1; 
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#login input[type="password"]
{
	width:200px;
	height: 24px;
	border:1px solid;
	border-color: #A1A1A1;
	color:#A1A1A1; 
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
}
#login select
{
	width:200px;
	height: 24px;
	border:1px solid;
	border-color: #A1A1A1;
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
}
#login input[type="submmit"]
{
	width:115px;
	background-color: #C9C9C9;
	color:#FFFFFF;
	margin-top:10px;
	margin-left: 84px;
	text-align: center;
	border-radius: 5px;
}

#frame 
{
	position: absolute;
	left: 98px;
	top:111px;
	width:500px;
	height: 600px;
	overflow: hidden;
}

#imgshow 
{
	width: 1520px;
	height:600px;
}

.imgtxt
{
	width: 500px;
	height: 600px;
	display: inline-block;
}

.imgtxt img
{
	width:500px;
	height:500px;
}
.imgtxt .txt
{
	width: 500px;
	text-align: center;
	position: relative;
	top:-50px;
}
.play
{
	animation: carousel 9s;
	animation-iteration-count: infinite;

	-webkit-animation:carousel 9s;
	-webkit-animation-iteration-count:infinite;
}
@keyframes carousel
{
	0%,30%  {margin-left: 0px;}
	33%,63% {margin-left: -500px;}
	66%,100% {margin-left: -1000px;}
}

@-webkit-keyframes carousel
{
	0%,30%  {margin-left: 0px;}
	33%,63% {margin-left: -500px;}
	66%,99% {margin-left: -1000px;}
}

#user_interface
{
	position: absolute; 
	left: 224px; 
	top:272px; 
	width: 800px;
	height: 230px; 

	
}
.icon_navigation
{

	display: inline-block;
	width: 189px;
	height: 220px;
	margin-left: 100px;
	margin-right: 100px;
}

.icon_navigation img
{
	width:189px;
	height: 189px;
}

.icon_navigation p
{
	text-align: center;
	margin: 5px;
}

.slidebar
{
	display: none;
	position: absolute;
	right: 0px;
	width: 230px;
	height: 100%;
	background-color: #BCBCBC;
}

.slidebar .option
{
	height:30px;
	padding-left: 40px;
	margin-top:40px;
}

.option img
{
	width: 24px;
	height: 24px;
}

.option .txt
{
	margin-top:0px;
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	top:-4px;
	margin-right:20px;
}

.icon_menu 
{
	width: 30px;
	height: 30px;
	position: absolute;
	top:20px;
	right:30px;
}


