.slidebar
{
	z-index:3;
	position: absolute;
	right: 0px;
	top:0px;
	width: 200px;
	height: 100%;
	background: #111111;
	display: none;
}

.slidebar .menu_option
{
	height:30px;
	padding-left: 20px;
	margin-top:40px;
}

.menu_option img
{
	width: 24px;
	height: 24px;
}

.menu_option .txt
{
	margin-top:0px;
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	top:-4px;
	margin-left:20px;
	color: #ffffff;
}