.add_user
{
	width: 48%;
	height:100%;
	display: inline-block;
}
.change_user_info
{
	width: 48%;
	height: 100%;
	display: inline-block;
}

span
{

	padding-left: 50%;
	padding-top: 70%;
}
img
{
	padding-left: 25%;
	width: 70%;
	display: inline-block;
}

.input_area
{
	padding-left: 40%;
	padding-top:5%;
}
.show
{
	width: 500px;
	height: 500px;
	border:1px solid;
	margin-left: 30%;
}